mcp
nicegui
python-dotenv
httpx
langchain
langchain-core
langchain-community
zhipuai
plotly
pandas
nest-asyncio
requests
schedule
langchain-anthropic
streamlit
langchain-google-genai
google-generativeai
mcp-use
